@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: $bg-dark;
  color: $text-primary;
  font-family: 'Segoe UI', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}
